@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header {
  padding: 15px 0;
  background-color: #EFF0E8;
  border-bottom: 3px solid #D9D9D9;
  box-sizing: border-box;
  font-size: 3vw;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.titulo {
  box-sizing: border-box;
}


.navegacao {
  width: 350px;
  color: #11C76F  ;
}

.navegacao a {
  color: #11C76F;
  text-decoration: none;
}

.navegacao ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navegacao ul li {
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.5;
}
 
.conteudo {
      background-color: #D9D9D9;
      background-size: cover;
      padding: 75vh;
}

.agora {
  font-weight: bold;
}

  footer {
    background-color: #EFF0E8;
    border-bottom: 3px solid #054A29;
  }
  
  footer .verdeEscuroooter {
  color: #054A29;
}
 footer p {
    color: #11C76F;
 }

  footer .containerPrimeiro {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 45px;
    border-top: 3px solid #D9D9D9;
   }

   footer .containerSegundo{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:flex-start;
    padding: 15px;
    color: #054A29;
    font-weight: bold;
}
   
footer .titulofaleconosco {
  color: #054A29;
 font-weight: bold;
}
